<div id="chat-bar" class="col-sm-1 screen-adjust text-center">

    <span class="badge badge-chat">3</span>
    <div class="break"></div>
    <span class="glyphicon glyphicon-user chat-bar-icon"></span>
    <p>Firstname</p>

</div>
