<div class="row">

    <div class="col-sm-12">

        <div id="file" class="adjust-panel panel panel-default">
            <div class="panel-heading">
                <h1 class="text-center">Fichier</h1>
            </div>
            <div class="panel-body">
                <p>Test</p>
            </div>
        </div>

    </div>

</div>