<div class="modal fade" id="createUser" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Create User</h3>
            </div>

                {% embed 'forms/UserForm.twig' %}
                    {% block method %}post{% endblock %}
                    {% block action %}{% endblock %}
                    {% block hiddenValue %}addUserAdmin{% endblock %}
                    {% block hidden %}formulaire{% endblock %}
                    {% block button %}Ajouter{% endblock %}
                {% endembed %}

        </div>
    </div>
</div>