<div class="container-fluid">
    <div class="row">
        <div id="menu" class="col-sm-2 screen-adjust text-center">

            <div class="col-sm-12">
                <span class="glyphicon glyphicon-user"></span>
                <h5>{{ session.user.utilisateur_prenom }}</h5>
                <p>{{ session.user.utilisateur_id }}</p>
                <h4>{{ session.user.utilisateur_nom }}</h4>
            </div>
            <div class="col-sm-12">
                <a href="./logout.php"><span class="glyphicon glyphicon-share"></span>Logout</a>
                <hr>
                    <form method="post">
                    <input type="hidden" value="" name="addProject">
                    <button class="btn btn-success" type="submit">Create Projet</button>
                    </form>
                <hr>
            </div>
        </div>