<div id="tache" class="adjust-panel panel panel-default">
    <div class="panel-heading">
        <h1 class="text-center">Définition du Projet</h1>
    </div>
    <div class="panel-body">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <a href="" data-toggle="modal" data-target="#addUser">
                        <span class="glyphicon glyphicon-book icon-def"></span>
                        <h3>Ajout User</h3>
                    </a>
                    <hr>
                    <p><a data-toggle="modal" data-target="#seeUser" href="">User 1</a></p>
                    <hr>
                    <p><a data-toggle="modal" data-target="#seeUser" href="">User 2</a></p>

                </div>
                <div class="col-sm-6 text-center">
                    <a href="" data-toggle="modal" data-target="#addTask">
                        <span class="glyphicon glyphicon-plus-sign icon-def"></span>
                        <h3>Ajout Tâche</h3>
                    </a>
                    <hr>
                    <p><a data-toggle="modal" data-target="#seeTask" href="">Task 1</a></p>
                    <hr>
                    <p><a data-toggle="modal" data-target="#seeTask" href="">Task 2</a></p>
                </div>
            </div>
        </div>
    </div>
</div>