<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Gestion de Projet</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/custom.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div id="menu" class="col-sm-2 screen-adjust text-center">

            <div class="col-sm-12">
                <span class="glyphicon glyphicon-user"></span>
                <h5>{{ session.user.utilisateur_prenom }}</h5>
                <p>{{ session.user.utilisateur_id }}</p>
                <h4>{{ session.user.utilisateur_nom }}</h4>
            </div>
            <div class="col-sm-12">
                <a href=""><span class="glyphicon glyphicon-share"></span>Logout</a>
                <hr>
                <button data-toggle="modal" data-target="#createUser" class="btn btn-success" type="submit">Create User</button>
                <hr>
                <button data-toggle="modal" data-target="#userList" class="btn btn-primary" type="submit">See Users</button>
                <hr>
            </div>
            <div class="col-sm-12">
                {% for project in session.infos_projet_a_afficher %}
                    <p>{{ project.titre }}</p>
                {% endfor %}
            </div>
        </div>