<div class="modal fade" id="addTask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3>Ajout Tâche</h3>
            </div>
            <div class="modal-body">

                {% embed 'forms/TaskForm.twig' %}
                    {% block method %}{% endblock %}
                    {% block action %}{% endblock %}
                    {% block hiddenValue %}{% endblock %}
                    {% block hidden %}addTask{% endblock %}
                    {% block button %}Ajouter{% endblock %}
                {% endembed %}

            </div>
        </div>
    </div>
</div>