<div class="modal fade" id="addTask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3>Ajout Tâche</h3>
            </div>
            <div class="modal-body">

                {% include 'forms/TaskForm.twig' %}

            </div>
        </div>
    </div>
</div>