<div class="modal fade" id="addUser" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3>Ajout User</h3>
            </div>
            <div class="modal-body">

                    {% embed 'forms/SearchUserForm.twig' %}
                        {% block method %}post{% endblock %}
                        {% block action %}{% endblock %}
                        {% block hiddenValue %}formulaire{% endblock %}
                        {% block hidden %}addUserAdmin{% endblock %}
                    {% endembed %}

            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>