<div class="modal fade" id="seeTask" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Nom de tâche</h3>
            </div>

            {% include 'forms/TaskForm.twig' %}

        </div>
    </div>
</div>