<div class="modal fade" id="seeUser" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3>Nom du User</h3>
            </div>
            <div class="modal-body">
                <span class="glyphicon glyphicon-user"></span>
                <h4><strong>Nom:</strong> User</h4>
                <h4><strong>Prénom:</strong> User</h4>
                <h4><strong>Email:</strong> user@user.com</h4>
                <h4><strong>Fonction:</strong> User</h4>
            </div>

            {% embed 'forms/BanUserFromProject.twig' %}
                {% block hidden %}id_user{% endblock %}
            {% endembed %}

        </div>
    </div>
</div>