{% for task in session.Task %}
    {{ task.0 }}
{% endfor %}
<div id="tache" class="adjust-panel panel panel-default">
    <div class="panel-heading">
        <h1 class="text-center">Tâches</h1>
    </div>
    <div class="panel-body">
        <div class="progress">

            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="" aria-valuemin="0" aria-valuemax="100"
                 style="width: 50%">
            </div>
        </div>

        {% embed 'forms/DoneTaskForm.twig' %}
            {% block hidden %}test{% endblock %}

        {% endembed %}

    </div>
</div>