<div class="modal fade" id="avatar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="text-align:center;">Changer d'avatar</h4>
            </div>
            <div class="modal-body form-group">

                <form id="modal" action='add_avatar.php' method='post'>
                    <div class="input-group">
                        <input type="text" class="form-control" name="avatar" placeholder="Lien de la photo ici">
                        <span class="input-group-btn">
                        <button class="btn btn-secondary" type="submit">Go!</button>
                        </span>
                        <input type='hidden' name='id_user' value="">
                    </div>
                </form>
                <hr>
                <a class="btn btn-danger" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
