<div class="modal fade" id="avatar" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="text-align:center;">Changer d'avatar</h4>
            </div>
            <div class="modal-body form-group">

                <form id="modal" action='add_avatar.php' method='post'>

                    {% embed 'forms/AvatarForm.twig' %}
                        {% block hidden %}id_user{% endblock %}
                    {% endembed %}

                </form>
                <hr>
                <a class="btn btn-danger" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div>
</div>
