<form method="{% block method %}post{% endblock %}" action="{% block action %}{% endblock %}">
    <div class="modal-body">

        {# le hidden input nom changable selon le type de user #}
        <input type="hidden" value="{% block hiddenValue %}{% endblock %}" name="{% block hidden %}{% endblock %}">

        <div class="form-group">
            <h4>Titre</h4>
            <input class="form-control" type="text" name="mainTitle" placeholder="Titre de la tâche">
        </div>
        <div class="form-group">
            <h4>Deadline</h4>
            <input class="form-control" type="datetime-local" name="mainDeadline">
        </div>
        <div class="form-group">
            <h4>Commentaire</h4>
            <textarea class="form-control" name="mainComments" placeholder="Plus d'information sur la tâche"></textarea>
        </div>
        <hr>
        <div class="form-group">
            <h3>Sous-Tâche</h3>
            Activer
            <input type="checkbox" class="enabled">
        </div>
        <button class="btn btn-primary addMiniTask" id="addMiniTask">Ajout Sous-Tâche</button>
        <div class="form-group">
            <h4>Titre</h4>
            <input class="form-control disabled" disabled="disabled" type="text" name="title1" placeholder="Titre de la tâche">
        </div>
        <div class="form-group">
            <h4>Deadline</h4>
            <input class="form-control disabled" disabled="disabled" type="datetime-local1" name="deadline">
        </div>
        <div class="form-group">
            <h4>Commentaire</h4>
            <textarea class="form-control disabled" disabled="disabled" name="comments1" placeholder="Plus d'information sur la tâche"></textarea>
        </div>

        <div class="mini-task">
        </div>

    </div>

    <div class="modal-footer">
        <input class="btn btn-success" type="submit" value="{% block button %}{% endblock %}">
        <a class="btn btn-danger" data-dismiss="modal">Close</a>
    </div>

</form>